.akveda-spurningar {
  margin-bottom: 1.5rem;
  display: block;
}

.akveda-spurningar h2 {
  font-size: 1.875rem;   
  font-weight: bold;
  margin-bottom: 1.5rem; 
}


.akveda-spurningar form {
  margin-bottom: 1rem;
}


.akveda-spurningar input,
.akveda-spurningar select {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.375rem; 
  margin-right: 0.5rem;
  font-size: 1rem;
}

.akveda-spurningar button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  background: gray; 
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.akveda-spurningar button:hover {
  background: gray;
}

.akveda-spurningar select {
  background: white;
}

.spila {
  margin-top: 1rem;
}
