/* Global styles and variables */

@font-face {
  font-family: Inter;
  src: url("../font/Inter/static/Inter_18pt-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

// Sass variables 
$font-size-base: 16px;
$font-size-headings: 6rem;
$font-size-underheadings: 3rem;
$space-100: 0.25rem; 
$space-200: 0.5rem;
$space-300: 0.75rem;
$space-400: 1rem;
$space-600: 1.5rem;
$space-800: 2rem;
$space-4000: 5rem;
$max-width: 1200px;
$height-nav: 5rem;
$height-img: 160px;
$columns: 12;
$gutter: 30px;
$offset: 20px;

// dervied by the sass variables
$color-white: #fff;
$color-black: #000;
$color-blue: #0c223f;
$color-protection: rgb(0 0 0 / 45%);
$color-protection-dark: rgb(0 0 0 / 50%);
$width-offset: calc(100% - (2 * $offset));
$vertical-space-small: calc($gutter * 1);
$vertical-space-large: calc($gutter * 1.5);
$vertical-space: var(--vertical-space-small);
$border-nav: 2px solid $color-black;
$border-radius-regular: 5px;
$font-family-base: "Inter", sans-serif;
$font-family-heading: "Inter", sans-serif;
$grid: true;

body, html {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $color-white;
}

:root {
  /* Letur stillingar */
  --font-size-base: #($font-size-base);
  --font-size-headings: #($font-size-headings);
  --font-family-base: #($font-family-base);
  --font-family-heading: #($font-family-heading);
  
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: #($spacing);

  /* Hámarks og lágmarks breidd á efni */
  --max-width: #($max-width);
  --height-img: #($height-img);

  /* Hæð á nav */
  --height-nav: #($height-nav);

  /* Grind */
  --columns: #($columns);
  --gutter: #($gutter);
  --offset: #($offset);

  /* Breidd á efni með offset */
  --width-offset: #($width-offset);

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space-small: #($vertical-space-small);
  --vertical-space-large: #($vertical-space-large);
  --vertical-space: #($vertical-space);

  /* Border breiddir */
  --border-nav: #($border-nav);
  --border-radius-regular: #($border-radius-regular);

  /* Litir */
  --color-white: #($color-white);
  --color-black: #($color-black);
  --color-protection: #($color-protection);

  
}

@media (width >= 700px) {
  :root {
    --vertical-space: var(--vertical-space-large);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-black: #000;
    --color-white: #fff;
    --color-accent: #600;
    --color-protection: rgb(255 255 255 / 50%);
  }
}