
@use "./base.scss" as *;

footer {
    padding: $space-400;
    margin-top: $space-400;
    text-align: center;
    font-size: $font-size-base;
    background-color: $color-white;
    color: $color-black;
    border-top: 2px solid rgba($color-blue, 0.2);
    
    a {
      color: $color-blue;
      text-decoration: underline;
      
      &:hover {
        text-decoration: none;
      }
    }
}