/* hönnun á almennum footer fyrir index og spurningarSpila */

/* styles/footer.scss */
@use "./base.scss" as *;

footer {
    position: relative;
    padding: $space-400;
    margin-top: $space-400;
    padding-bottom: $space-600;
    text-align: center;
    font-size: $font-size-base;
    background-color: $color-white;
    color: $color-black;
    border-top: 2px solid rgba($color-blue, 0.2);
  
  .github-links {
    position: absolute;
    right: $space-400;
    bottom: $space-100;
    display: flex;
    flex-direction: row;
    gap: $space-300;
    text-align: right;
  }

    a {
      color: $color-blue;
      text-decoration: none;
      
      img {
        padding-left: $space-100;
        padding-right: $space-100;
      }

      &:hover {
        transform: translateY(-2px);
      }
    }

  #footer-info {
    text-decoration: underline;
  }
}



