/* Valmynd style fyrir index síðu */

/* styles/nav.scss */
@use "./base.scss" as *;

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: $height-nav;
  overflow: hidden;
  background-color: $color-blue;
  border-bottom: $border-nav;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    gap: calc($space-400 * 2);
    align-items: center;
    justify-content: left;
    width: 100%;
    max-width: $max-width;
    height: 100%;
    margin: 0 auto;
    padding-left: $space-800;
    overflow: hidden;
    list-style: none;

    li {
      font-family: $font-family-heading;
      white-space: nowrap;
      margin-left: auto;
      margin-right: auto;

      a {
        text-decoration: none;
        color: $color-white;

        &:hover, 
        &:focus {
          text-decoration: underline;
        }
      }

      .trivia {
        display: flex;
        align-items: center;
        gap: $space-600;
      }
    }
  }

  strong {
    font-weight: 400;
    color: $color-white;
    text-decoration: underline;
  }

  .hide-in-mobile {
    display: none;
  }

  @media (width >= 500px) {
    ul li {
      font-size: $font-size-base;
    }
  } 
}

