/* hönnun á upphafsstilla button á index síðu */

/* styles/upphafspur.scss */
@use "./base.scss" as *;
@use "sass:color";


.main-index {
    margin-top: $space-400 * 1.5;
    margin-bottom: $space-100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    #button-spurningar {
        position: relative;
        z-index: 2;
        align-self: center;
        margin-top: auto;
        margin-bottom: $space-400;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: $space-200 $space-600;
        border-radius: $border-radius-regular;
        border: none;
        background-color: $color-blue;
        color: $color-white;
        font-size: $font-size-base;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 0 8px 20px $color-protection-dark;
        transition: transform 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;

        &:hover {
            transform: translate(-2px);
            box-shadow: 0 12px 24px $color-protection-dark;
            background-color: color.scale($color-blue, $lightness: 5%);
        }

        &:active {
            transform: translateY(0);
            box-shadow: 0 6px 14px $color-protection-dark;
        }
    }
}

