@use "styles/base";
@use "styles/nav.scss";
@use "styles/footer";

@use "styles/grid";

@use "styles/reset";

@use "styles/utils";

@use "styles/intro";
@use "styles/upphafspur.scss";
@use "styles/gamescreen";
@use "styles/akvedaspurningar";
@use "styles/fullscreen";



