/**
 * Grunn sass skrá, sækir aðrar skrár í *réttri* röð.
 */
@use "styles/base";
@use "styles/nav";
@use "styles/footer";
@use "styles/utils";
@use "styles/intro";
@use "styles/upphafspur";
@use "styles/gamescreen";
@use "styles/mainspurningar";
@use "styles/fullscreen";



